.TodoList {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.TodoList--item {
	position: relative;
	height: 4rem;
	padding: 0 4rem;

	border-bottom: 1px solid hsv(0, 0, 0.9);

	line-height: 4rem;

	&:last-child { border-bottom: none; }
}

.TodoList--itemContent {
	display: block;
	overflow: hidden;
	
	white-space: nowrap;
	text-overflow: ellipsis;

	cursor: pointer;

	.TodoList--item:hover & { color: @river; }

	.TodoList--item.-done & {
		color: @textFaded;
		text-decoration: line-through;
	}
}

.TodoList--tagContainer { display: none; }

.TodoList--tag {}

.TodoList--delete {
	position: absolute;
	top: 0;
	right: 0;
	width: 4rem;
	height: 4rem;
	padding: 0;

	background: none;
	border: none;

	color: @alizarin;

	cursor: pointer;

	&::before {
		position: absolute;
		display: block;
		top: 0.5rem;
		left: 0.5rem;
		width: 3rem;
		height: 3rem;

		background-color: fade(@alizarin, 10%);
		border-radius: 100%;
		opacity: 0;

		content: '';
	}

	&:hover::before { opacity: 1; }
}

.TodoList--checkboxLabel {
	position: absolute;
	top: 0rem;
	left: 0rem;
	width: 4rem;
	height: 4rem;

	cursor: pointer;
}

.TodoList--checkIcon {
	display: block;
	width: 2rem;
	height: 2rem;
	margin: 1rem;

	box-shadow: 0 0 0 1px hsv(0, 0, 0.9);
	border-radius: 100%;

	text-align: center;
	line-height: 2rem;
	
	color: transparent;

	.TodoList--item.-done & { color: @emerald; }
}

.TodoList--checkbox {
	position: absolute;
	visibility: hidden;
}